@import "/src/variables.scss";

.subdiv_rooms_tabs {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: $border_radius5;
  padding: 0.5rem;
  &:hover {
    background-color: $quartet_color;
    ._room_tab_menu_visible {
      display: block;
    }
  }
  > p {
    margin-right: 1rem;
  }
  > ul {
    display: flex;
    > li {
      margin-right: 0.5rem;
    }
  }
  ._room_tab_menu_visible {
    display: none;
    position: absolute;
    top: 25px;
    left: 150px;
    z-index: 5;
  }
}
._active {
  background-color: $quartet_color;
}
