@import "/src/variables.scss";

.subdiv_rooms_tab {
  height: 2.18rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border: $border_style_default;
  border-radius: $border_radius5;
  padding: 0 0.5rem;
  > h4 {
    margin-right: 1rem;
  }
}
