@import "/src/variables.scss";

.subdiv_rooms_tabs {
  position: relative;
  display: flex;
  align-items: center;
  border: $border_style;
  border-radius: $border_radius5;
  padding: 0.5rem;
  > p {
    margin-right: 1rem;
  }
  ._room_tab_menu_visible {
    position: absolute;
    top: 25px;
    right: -7rem;
    z-index: 5;
  }
}
._active {
  background-color: $quartet_color;
}
