@import "/src/variables.scss";

.div {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0.9rem;
  gap: 1rem;
  .subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      > h5 {
        color: $text_inactive;
      }
    }
  }
}
