.settings-control-panel-general-default .frame-480966718 {
  border-radius: 10px;
  padding: 20px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 806px;
  height: 924px;
  position: relative;
}

.settings-control-panel-general-default .frame-480966719 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .frame-480966440 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 505px;
  position: relative;
}

.settings-control-panel-general-default .frame-4809664402 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 444px;
  position: relative;
}

.settings-control-panel-general-default .div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 126.11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-control-panel-general-default .div3 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 18.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-control-panel-general-default .search-default2 {
  border-radius: 5px;
  border-style: solid;
  border-color: #33353c;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
}

.settings-control-panel-general-default .title {
  color: #9c9da0;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
}

.settings-control-panel-general-default .frame-480966720 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .combobox {
  background: #24272e;
  border-radius: 5px;
  padding: 7px 12px 7px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(51, 53, 60, 1);
}

.settings-control-panel-general-default .frame-480966699 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .frame-480966441 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.settings-control-panel-general-default .frame-480966700 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .icons-8-russian-federation-50-1 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}

.settings-control-panel-general-default .div4 {
  color: #e3e5e8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 117px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
