@import "/src/variables.scss";

.ul {
  background-color: $background_context_menus;
  color: white;
  border: $border_style_default;
  border-radius: $border_radius10;
  padding: 0.3rem;
  margin-left: 1rem !important;
  > li {
    padding: 0.5rem;
    &:hover {
      background: $background_hover_menu_item;
      border-radius: $border_radius5;
    }
  }
}
