@import "/src/variables.scss";

.div {
  width: 100%;
  > h3 {
    color: #e2e2e2;
    margin-bottom: 0.5rem;
  }

  .subdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0.06rem solid #23252a;
    border-radius: 0.73rem;
    color: #e2e2e2;
    padding: 0.75rem;
    > div:first-child {
      width: 100%;
      display: flex;
      align-items: center;
      > input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: #e2e2e2;
      }
    }
    > div:last-child {
      cursor: pointer;
    }
  }
  > p {
    color: #f35746;
  }
  ._error {
    border: 1px solid #f35746;
  }
  ._active {
    border: 0.06rem solid #339aff;
  }
}
