@import "/src/variables.scss";

.div {
  width: 100%;
  > h3 {
    color: $text_default;
    margin-bottom: 0.5rem;
  }

  .subdiv {
    @include inputStyleCommon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    > div:first-child {
      width: 100%;
      display: flex;
      align-items: center;
      > input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: $text_default;
      }
    }
    > div:last-child {
      cursor: pointer;
    }
  }
  > p {
    color: $background_error;
  }
  ._error {
    border: 1px solid $background_error;
  }
  ._active {
    border: $border_style_special_active;
  }
}
