.div {
  .subdiv {
    > img {
      max-width: 100%; // Изображение не будет превышать ширину контейнера
      height: auto; // Высота будет изменяться пропорционально ширине
      display: block; // Убирает возможные отступы снизу (если это inline элемент)
      object-fit: contain; // Сохраняет целостность изображения, вписывая его в контейнер
    }
  }
}
