@import "/src/variables.scss";

.div {
  width: 13.17rem;
  background-color: $background_context_menus;
  border: $border_style_default;
  border-radius: $border_radius8;
  > div {
    &:hover {
      background-color: $button_active;
    }
  }
  .subdiv_title {
    @include constext_primary_menu_components_item;
    > img {
      width: 1rem;
    }
    background-color: $button_active;
    &:hover {
      background-color: $button_active;
    }
  }
}
