@import "/src/variables.scss";

.dropdown_button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop_ul {
  @include PopoverContextMenuUl;
}

._padding_and_hover_none_drop_ul {
  > li {
    padding: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

.list_item_flex {
  > li,
  > li > a {
    display: flex;
    align-items: center;
  }
}
