@import "/src/variables.scss";

.dropdown_button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop_ul {
  @include PopoverContextMenuUl;
}

.dropdown-menu {
  // transform: translate(16rem, 0px) !important;
}
