.value-type-texte,
.value-type-texte * {
  box-sizing: border-box;
}
.value-type-texte {
  flex-shrink: 0;
  width: 101px;
  height: 24px;
  position: relative;
}
.value-type-texte .value {
  color: var(--light-stormgrey-50, #6b7888);
  text-align: left;
  font-family: var(
    --basic-text-md-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--basic-text-md-regular-font-size, 16px);
  line-height: var(--basic-text-md-regular-line-height, 24px);
  font-weight: var(--basic-text-md-regular-font-weight, 400);
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
