@import "/src/variables.scss";
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border_style_default;
  border-radius: $border_radius5;
  padding: 0.5rem;
  &:hover {
    background-color: $hover_default;
    color: $text_light;
  }
  > img {
    width: 1rem;
    height: 1rem;
  }
}

._light {
  background-color: $button_special;
  color: $text_dark;
  border: none;
}
._special_light {
  background-color: $button_special_blue;
  color: $text_dark;
  border: none;
}
._dark {
  background-color: $button_default;
  color: $text_light;
}
._warning {
  background-color: $background_error;
}

._transparent {
  background-color: $button_transparent;
  color: $text_light;
}
