@import "/src/variables.scss";
.button {
  display: flex;
  align-items: center;
  border: $border_style;
  border-radius: 12px;
  padding: 0.5rem;
  > p {
    margin-left: 0.5rem;
  }
}

._light {
  background-color: $light_special_color;
  color: $special_primary_color;
}
._dark {
  background-color: $primary_color;
  color: $light_color;
}
._warning {
  background-color: $custom_red;
}

._transparent {
  background-color: transparent;
  color: $light_color;
}
