@import "/src/variables.scss";

.div {
  display: flex;
  flex-direction: column;
  background-color: $background_context_menus;
  border: $border_style_default;
  border-radius: $border_radius12;
  padding: 0.5rem;
  margin-top: 0.5rem;
  gap: 1rem;
  > div {
    border-radius: $border_radius8;
    padding: 0.5rem;
    &:hover {
      background-color: $background_hover_menu_item;
    }
  }
}
