@import "/src/variables.scss";
.div {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  border: $border_style_default;
  padding: 0.75rem 1.25rem;
  > img {
    width: 2rem;
    margin-right: 0.5rem;
  }
  > input {
    width: 100%;
    background-color: transparent;
    color: $text_light;
    border: none;
  }
  > .add_user_icon {
    cursor: pointer;
    border-radius: $border_radius5;
    padding: 0.3rem;
    &:hover {
      background-color: $button_active;
    }
  }
  .search_menu {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}
.div_focuse {
  border: $border_style_active;
}
