@import "/src/variables.scss";

.div {
  height: 100%;
  padding: 1rem;
  .subdiv_logo {
    margin-bottom: 1rem;
  }
  .subdiv_title {
    margin-top: 1.8rem;
    > h5 {
      color: $text_inactive;
      margin-bottom: 0.5rem;
    }
  }
  > ul {
    > li {
      cursor: pointer;
      border-radius: $border_radius5;
      padding: 1rem;
      margin-bottom: 1rem;
      &:hover {
        background-color: $background_custom_dark;
      }
      > a {
        display: flex;
        align-items: center;
        color: $text_light;
        border: none;
        > div {
          margin-right: 1rem;
        }
      }
    }
    .active {
      background: $background_modal_button_toggle_active;
    }
  }
}
