@import "/src/variables.scss";

.div {
  position: relative;
  height: 2.1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0.37rem;
  border: 0.06rem solid #23252a;
  padding: 0 0.75rem;
  > img {
    width: 1rem;
    margin-right: 0.5rem;
  }
  > input {
    width: 100%;
    background-color: transparent;
    color: $text_light;
    border: none;
  }
  .clear_icon {
    cursor: pointer;
  }
}
.div_focuse {
  border: $border_style_active;
}
