@import "/src/variables.scss";

.div {
  @include modalDivV1(30.5rem);
  .subdiv_employee {
    > h3 {
      margin-bottom: 1rem;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
