@import "/src/variables.scss";

.div {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background_context_menus;
  color: $text_light;
  border: $border_style_default;
  border-radius: 100%;
}
