@import "/src/variables.scss";
.div {
  .subdiv {
    margin-bottom: 1rem;
    > div:first-child {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      > p:first-child {
        color: $background_custom_blue;
      }
    }
    > div:last-child {
      border-radius: $border_radius8;
      border: $border_style_default;
      padding: 1rem;
    }
  }
}
