@import "/src/variables.scss";

.table {
  width: 100%;
}
.thead > tr,
.tbody > tr {
  border-radius: $border_radius5;
}
.thead > tr > th,
.tbody > tr > td {
  padding: 1rem;
}
.thead {
  > tr {
    background-color: $background_custom_dark;
  }
}
.tbody {
  > tr {
    position: relative;
    cursor: pointer;
    .transactionDetails {
      position: relative;
      > ul {
        @include PopoverContextMenuUl;
        display: none;
        position: absolute;
        top: 2.5rem;
        left: 2rem;
        z-index: 1000;
      }
      > img {
        width: 1.5rem;
        margin-left: 1rem;
        &:hover + ul {
          display: block;
        }
      }
    }

    &:hover {
      background-color: $background_hover_menu_item;
    }
  }
}
