@import "/src/variables.scss";

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border_style_default;
  padding: 1rem;
  .subdiv_left {
    display: flex;
    align-items: center;
    > div:first-child {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      > img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
      }
    }
    > div:last-child {
      padding-left: 1rem;
      border-left: $border_style_default;
    }
  }
  .subdiv_right {
    display: flex;
    > div {
      margin-right: 1rem;
    }
  }
}
