@import "/src/variables.scss";
.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .subdiv_cart_item_positios {
    height: 30rem;
    overflow-y: scroll;
    .subdiv_cart_item_positios_none {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .subdiv {
    background-color: $background_general;
    padding: 1rem;
    .subdiv_product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    .subdiv_total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
        display: flex;
        > div {
          display: flex;
          align-items: center;
          border: $border_style;
          border-radius: $border_radius10;
          > button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 1rem;
            padding: 0.3rem;
          }
          > p {
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
}
