@import "/src/variables.scss";
.div {
  .subdiv {
    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
    > div:last-child {
      background-color: $primary-color;
      border-radius: 12px;
      padding: 1rem;
    }
  }
}
