@import "/src//variables.scss";

.div {
  cursor: pointer;
  display: flex;
  align-items: center;
  > img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  > div {
    > h5 {
      color: $text_inactive;
    }
  }
}
