.div {
  border: 0.06rem solid #23252a;
  border-radius: 0.48rem;
}

.primary {
  background-color: #141518;
}

.secondary {
  background-color: #1b1c1f;
}

.tertiary {
  background-color: #17181a;
}

.special {
  background-color: #32ade6;
}
