@import "/src/variables.scss";

.div {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
  .subdiv_number {
    position: absolute;
  }
  .subdiv_menu {
    display: none;
    position: absolute;
    top: 0;
    right: -240px;
    z-index: 999;
    &:hover {
      display: block;
    }
  }
  .subdiv_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.8rem;
  }
  &:hover {
    border: 3px solid $light-color;
    .subdiv_menu {
      display: block;
    }
  }
}

._shutdown_mode {
  background-color: $bg-primary;
}

._standby_mode {
  background-color: $ok-color;
}

._active_mode {
  background-color: $active-color;
}

._service_mode {
  .subdiv_number {
    color: $custom_red;
  }
  background-color: $bg-primary;
}

._administration_mode {
  .subdiv_number {
    color: $custom_blue;
  }
  background-color: $bg-primary;
}
