@import "/src/variables.scss";
.div {
  .subdiv {
    position: relative;
    width: 100%;
    height: 12rem;
    background-color: $special_primary_color;
    cursor: pointer;
    margin: 0.3rem;
    > img {
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
    > p {
      padding: 0.5rem;
    }
    .subdiv_hover {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }
  }
  .subdiv:hover {
    .subdiv_hover {
      opacity: 1;
      border: 1px solid white;
    }
  }
}
