@import "/src//variables.scss";
.div {
  .button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: $light-color;
  }
  .ul {
    > li {
      cursor: pointer;
      padding: 0.5rem;
      color: $light-color;
      padding: 1rem;
      &:hover {
        background-image: $light_gradient;
      }
    }
  }
}
