@import "/src//variables.scss";
.div {
  > button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: $text_light;
    border: none;
    > div:first-child {
      display: flex;
      align-items: center;
      > div {
        margin-right: 1rem;
      }
    }
    .arrow {
      transform: rotate(-90deg);
    }
    ._active_arrow {
      transition: transform 0.5s ease;
      transform: rotate(90deg);
    }
  }
  .div_menu {
    border-left: $border_style_default;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }
}
