:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0a0c0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ТУТ СБРАСЫВАЮТСЯ ОБЩИЕ ГЛОБАЛЬНЫЕ СТИЛИ РАЗНЫХ БИБЛИТЕК ПРОЕКТА*/
/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: transparent !important;
  color: white !important;
} */

.form-floating > .form-select {
  padding: 0 1rem;
}
.form-select {
  border: none !important;
  padding: 0 1rem;
  background-color: #141718 !important;
}
