$bg-primary: #0a0c0c;
$primary-color: #141718;
$secondary-color: #232627;
$tertiary-color: #343839;
$quartet-color: #2f3233;
$fifth-color: #141414;

$light-color: #ffffff;
$dark-color: #6c7275;
$faded-color: #a2a5ae;

$active-color: #3e90f0;
$warning-color: #ff6a55;
$error-color: #ff0000;
$ok-color: #159900;

//стили для границ
$border-style: 1px solid $tertiary-color;
$boreder-radius5: 5px;
$boreder-radius10: 10px;
$boreder-radius12: 12px;
$boreder-radius16: 16px;

$hover-lists-active: linear-gradient(
  to right,
  rgba(42, 133, 255, 0.1),
  rgba(255, 255, 255, 0.1)
);

//стили для мини кнопок с синей иконкой
@mixin divStyle($bg-color, $hover-color) {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  border: none;
  border-radius: $boreder-radius12;
  &:hover {
    background-color: $hover-color;
    border: 1px solid $active-color;
  }
}

//стили для кастамных input and textarea элементов
@mixin inputStyle {
  width: 100%;
  background-color: $primary-color;
  border: $border-style;
  border-radius: $boreder-radius12;
  color: $light-color;
  padding: 1rem;
}

@mixin modalDivV1($cutom-width) {
  width: $cutom-width;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $bg-primary;
  border: $border-style;
  border-radius: $boreder-radius16;
  padding: 1rem;
}

@mixin twoButtonDivHorizont {
  display: flex;
  justify-content: space-between;
  > button:first-child {
    margin-right: 0.5rem;
  }
  > button:last-child {
    margin-left: 0.5rem;
  }
}

@mixin forms {
  width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $bg-primary;
  border: $border-style;
  border-radius: $boreder-radius16;
  padding: 1rem;
}
