//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
// ОКОНЧАТЕЛЬНАЯ ПОЛИТРА ЦВЕТОВ ПРОЕКТА
// ОБЩИЕ СТИЛИ ВСЕГО ПРОЕКТА
// задники
$background_general: #080808;
$background_large_modules: #adadad;
$background_small_modules: #ebebeb;
$background_context_menus: #1b1c1f;
$background_no_active: #1c1f25;
$background_cusom_dark: #141518;
$background_error: #f35746;
$background_custom_blue: #339aff;
$background_custom_green: #159900;
$background_custom_indigo: #17181a;

// обводка
$border_default: #23252a;
$border_error: #f35746;
$border_hover_click: #339aff;
$regular_input_border: #33353c;
// обводка наведения клик
$border_active: #adadad;

// кнопки
$button_default: #1e2025;
$button_special: #e2e2e2;
$button_active: #26282e;
$button_transparent: transparent;
// кнопки наведения
$hover_default: #2c3039;
$hover_special: #ff9933;

// текст
$text_default: #e2e2e2;
$text_light: #ffff;
$text_inactive: #999b9e;
$text_dark: #141718;
// ОТДЕЛЬНЫЕ СТИЛИ ДЛЯ ЭЛЕМЕНТОВ МОДАЛЬНЫХ ОКОН
// задники
$background_modal_general: #1b1c1f;
$background_modal_input: #17181a;
$background_modal_active_menu_item: #1c1f25;
$background_modal_button_toggle_active: #1c1f25;
$background_modal_button_toggle_no_active: transparent;
$background_modal_select: transparent;
//ховеры
$background_hover_menu_item: #2c3039;
$background_hover_button_toggle: #1c1f25;

//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------
//------------------------

//стили для границ
$border_style_default: 1px solid $border_default;
$border_style_active: 1px solid $border_active;
$border_style_error: 1px solid $border_error;
$border_radius5: 5px;
$border_radius10: 10px;
$border_radius12: 12px;
$border_radius16: 16px;

$light_gradient: linear-gradient(
  to right,
  rgba(42, 133, 255, 0.1),
  rgba(255, 255, 255, 0.1)
);

//ОБЩИЙ стили для кастамных input and textarea элементов
@mixin inputStyleCommon {
  width: 100%;
  background-color: transparent;
  border: $border_style_default;
  border-radius: $border_radius12;
  color: $text_default;
  padding: 1rem;
}
//СПЕЦИАЛЬНЫЙ СТИЛИ ДЛЯ БЛОКА DIV В КОТОРЫХ МОГУТ НАХОДИТЬСЯ ИНПУТ ЭЛЕМЕНТЫ И ИХ ИКОНКИ ДОПОМ
@mixin inputStyleSpesialContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $background_modal_input;
  border: $border_style_default;
  border-radius: $border_radius12;
  color: $text_default;
  padding: 0.5rem;
  > input {
    width: 100%;
    background-color: $background_modal_input;
    color: $text_light;
    border: none;
  }
  > img {
    margin-right: 0.5rem;
  }
}

//СПЕЦИАЛЬНЫЕ СТИЛИ ДЛЯ КОНТЕЙНЕРОВ ДЛЯ КНОПОК ИКОНОЕ
@mixin miniDivIconStyle($bg-color, $hover-color) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  border: none;
  border-radius: $border_radius12;
  padding: 0.5rem;
  &:hover {
    background-color: $hover-color;
    border: 1px solid $background_custom_blue;
  }
}
//СПЕЦИАЛЬНЫЕ СТИЛИ ДЛЯ КОМПОНЕНТА УНИВЕРСАЛЬНОГО МОДАЛЬНОГО ОКНА
@mixin modalUniversal1Style {
  display: flex;
  flex-direction: column;
  background-color: $background_modal_general;
  border: $border_style_default;
  border-radius: $border_radius10;
  padding: 1rem;
  gap: 1rem;
}

// СТИЛИ ДЛЯ КОНТЕКСТНЫХ МЕНЮ
@mixin PopoverContextMenuUl {
  background-color: $background_context_menus;
  color: $text_default;
  border: $border_style_default;
  border-radius: $border_radius10;
  display: inline-block;
  max-width: 100%;
  > li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $background_hover_menu_item;
    }
    > img {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }
}

// СТИЛИ ДЛЯ ФОРМ СТРАНИЦЫ РЕГИСТРАЦИИ
//-------------------------------------
@mixin formsPageDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin forms {
  width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $background_modal_general;
  border: $border_style_default;
  border-radius: $border_radius16;
  padding: 1rem;
}
//-------------------------------------
