$bg-primary: #0a0c0c;
$primary-color: #141718;
$secondary-color: #232627;
$tertiary-color: #343839;
$quartet-color: #2f3233;

$light-color: #ffffff;
$dark-color: #6c7275;

$active-color: #3e90f0;
$error-color: #ff0000;
