@import "/src/variables.scss";

.div {
  width: 100%;
  > h3 {
    color: $text_default;
    margin-bottom: 0.5rem;
  }
  .subdiv {
    @include inputStyleCommon;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    > img {
      margin-right: 0.5rem;
    }
    > input {
      width: 100%;
      border: none;
      background-color: transparent;
      color: $text_default;
    }
  }
  > p {
    color: $background_error;
  }
  ._error {
    border: $border_style_error;
  }
  ._active {
    border: $border_style_special_active;
  }
}
