.settings-control-panel-general-default,
.settings-control-panel-general-default * {
  box-sizing: border-box;
}
.settings-control-panel-general-default {
  background: #080808;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.settings-control-panel-general-default .side-nav-base {
  padding: 20px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 246px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.settings-control-panel-general-default .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966418 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 216px;
  position: relative;
}
.settings-control-panel-general-default .vector {
  border-radius: 0px;
  flex-shrink: 0;
  width: 42px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.settings-control-panel-general-default .refresh {
  color: #e2e2e2;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
}
.settings-control-panel-general-default .search-default {
  border-radius: 6px;
  border-style: solid;
  border-color: #33353c;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 216px;
  height: 35px;
  position: relative;
}
.settings-control-panel-general-default .title {
  color: #9c9da0;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
}
.settings-control-panel-general-default .frame-480966380 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .frame-480966341 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .side-nav-menu-items-groups {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.settings-control-panel-general-default .title2 {
  color: #e2e2e2;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  flex: 1;
}

.settings-control-panel-general-default .title4 {
  color: #e2e2e2;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .profile-circle-instance {
  flex-shrink: 0 !important;
}

.settings-control-panel-general-default .divider {
  background: #23252a;
  border-radius: 17px;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966439 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .work-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.settings-control-panel-general-default .widget-slider {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .side-nav-calendar-widget {
  background: #0f1011;
  border-radius: 12px;
  border-style: solid;
  border-color: #1a1c21;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 216px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  backdrop-filter: blur(54.6px);
}
.settings-control-panel-general-default .frame-480966391 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 28px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966369 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  position: relative;
}
.settings-control-panel-general-default .title6 {
  color: #fefefe;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .title7 {
  color: #949496;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .title8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .group-1 {
  opacity: 0.2;
  flex-shrink: 0;
  width: 355.5px;
  height: 286.29px;
  position: static;
  mix-blend-mode: overlay;
}
.settings-control-panel-general-default .ellipse-1 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 355.5px;
  height: 286.29px;
  position: absolute;
  left: -10px;
  top: 272.16px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 307.44px;
  height: 247.58px;
  position: absolute;
  left: 17.79px;
  top: 258.75px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-3 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 252.74px;
  height: 203.54px;
  position: absolute;
  left: 49.41px;
  top: 243.48px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-4 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 198.05px;
  height: 159.49px;
  position: absolute;
  left: 81.03px;
  top: 228.22px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-5 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 145.02px;
  height: 116.78px;
  position: absolute;
  left: 111.69px;
  top: 213.43px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-6 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 96.95px;
  height: 78.08px;
  position: absolute;
  left: 139.48px;
  top: 200.01px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .ellipse-7 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.74);
  border-width: 1px;
  width: 58.5px;
  height: 47.11px;
  position: absolute;
  left: 161.71px;
  top: 189.28px;
  transform-origin: 0 0;
  transform: rotate(-64.608deg) scale(1, 1);
}
.settings-control-panel-general-default .meetings-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.settings-control-panel-general-default .ellipse-2845 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  flex-shrink: 0;
  width: 407px;
  height: 403px;
  position: absolute;
  left: -208px;
  top: 15px;
  filter: blur(44.85px);
}
.settings-control-panel-general-default .research-design {
  background: #1e2025;
  border-radius: 6px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 0.5px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
  overflow: hidden;
}
.settings-control-panel-general-default .title9 {
  color: #f4f4f4;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.settings-control-panel-general-default .frame-480966256 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 16px;
  position: relative;
}
.settings-control-panel-general-default .title10 {
  color: #949496;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  width: 46px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .frame-480966378 {
  background: #0f1011;
  border-radius: 8px;
  border-style: solid;
  border-color: #23252a;
  border-width: 1px;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1669px;
  height: 1070px;
  position: relative;
  overflow: hidden;
}
.settings-control-panel-general-default .frame-480966387 {
  border-style: solid;
  border-color: #23252a;
  border-width: 0px 0px 1px 0px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966389 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 742.5px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966384 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966383 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 94px;
  position: relative;
}
.settings-control-panel-general-default .month {
  color: #efefef;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .month2 {
  color: #efefef;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .vertical-divider {
  background: #23252a;
  flex-shrink: 0;
  width: 1px;
  height: 16px;
  position: relative;
}
.settings-control-panel-general-default .title11 {
  color: #d2d2d2;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  position: relative;
  width: 238px;
}
.settings-control-panel-general-default .frame-480966386 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 334px;
  position: relative;
}

.settings-control-panel-general-default .frame-480966254 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966255 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .ellipse-2844 {
  background: #e05959;
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.settings-control-panel-general-default .subtitle {
  color: #e2e2e2;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.settings-control-panel-general-default .vertical-divider2 {
  background: #23252a;
  border-radius: 17px;
  flex-shrink: 0;
  width: 1px;
  height: 16px;
  position: relative;
}
.settings-control-panel-general-default .side-nav-user-profile {
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  position: relative;
}
.settings-control-panel-general-default .avatar-label-user {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 165px;
  position: relative;
}
.settings-control-panel-general-default .ai-generated-avatars-ethan-taylor {
  border-radius: 1000px;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
  object-fit: cover;
}
.settings-control-panel-general-default .title-subtitle {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.settings-control-panel-general-default .title12 {
  color: #efefef;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.settings-control-panel-general-default .frame-4809662542 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 121px;
  position: relative;
}
.settings-control-panel-general-default .subtitle2 {
  color: #949496;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.settings-control-panel-general-default .frame-480966808 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1004px;
  position: relative;
}

.settings-control-panel-general-default .frame-480966811 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966812 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966813 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966809 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1429px;
  height: 1003px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966718 {
  border-radius: 10px;
  padding: 20px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 806px;
  height: 924px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966719 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966440 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 505px;
  position: relative;
}
.settings-control-panel-general-default .div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 126.11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div3 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 18.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .search-default2 {
  border-radius: 5px;
  border-style: solid;
  border-color: #33353c;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966720 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .combobox {
  background: #24272e;
  border-radius: 5px;
  padding: 7px 12px 7px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(51, 53, 60, 1);
}
.settings-control-panel-general-default .frame-480966699 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966441 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.settings-control-panel-general-default .frame-480966700 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .icons-8-russian-federation-50-1 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.settings-control-panel-general-default .div4 {
  color: #e3e5e8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 117px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .svg {
  flex-shrink: 0;
  width: 10px;
  height: 5px;
  position: relative;
  overflow: visible;
}
.settings-control-panel-general-default .frame-480966731 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .gmt-3-moscow-russia {
  color: #e3e5e8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 117px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
}
.settings-control-panel-general-default .svg2 {
  flex-shrink: 0;
  width: 10px;
  height: 5px;
  position: relative;
  overflow: visible;
}
.settings-control-panel-general-default .frame-480966722 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 188px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div6 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 18.2px;
  font-weight: 400;
  position: relative;
  width: 444px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div7 {
  color: #e3e5e8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 140px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .svg3 {
  flex-shrink: 0;
  width: 10px;
  height: 5px;
  position: relative;
  overflow: visible;
}
.settings-control-panel-general-default .frame-480966721 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div9 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .input {
  background: #292c33;
  border-radius: 72px;
  flex-shrink: 0;
  width: 26px;
  height: 17px;
  position: relative;
}
.settings-control-panel-general-default .background {
  background: #fefeff;
  border-radius: 45px;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 2px;
  top: 2px;
}
.settings-control-panel-general-default .frame-480966729 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 205px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div11 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  position: relative;
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .frame-480966723 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 227px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .div13 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  position: relative;
  width: 444px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .body {
  border-radius: 5px;
  border-style: solid;
  border-color: #33353c;
  border-width: 1px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
}
.settings-control-panel-general-default .value-instance {
  flex: 1 !important;
  flex-shrink: unset !important;
  width: unset !important;
}
.settings-control-panel-general-default .frame-480966469 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 7.85px;
  height: auto;
  position: relative;
  overflow: visible;
}
.settings-control-panel-general-default .frame-480966725 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966449 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966452 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-480966448 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div14 {
  color: #e3e5e8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .frame-4809664492 {
  background: #32ade6;
  border-radius: 114px;
  border-style: solid;
  border-color: #32ade6;
  border-width: 1.5px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.settings-control-panel-general-default .ellipse-22 {
  background: #ffffff;
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966447 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-4809664493 {
  border-radius: 114px;
  border-style: solid;
  border-color: #88878c;
  border-width: 1px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966726 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .frame-4809664402 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 444px;
  position: relative;
}
.settings-control-panel-general-default .div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 232px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .sms {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  position: relative;
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .frame-480966727 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default ._18 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 232px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default ._22-00 {
  color: #999b9e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  position: relative;
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings-control-panel-general-default .line-7 {
  flex-shrink: 0;
  width: 51px;
  height: 0px;
  position: absolute;
  left: 1406px;
  top: 20px;
  transform: translate(-2px, -2px);
  overflow: visible;
}
.settings-control-panel-general-default .frame-480966814 {
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1421px;
  position: relative;
}
.settings-control-panel-general-default .frame-480966730 {
  padding: 0px 20px 0px 15px;
  display: flex;
  flex-direction: row;
  gap: 283px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .button-create-new-issue {
  background: #efefef;
  border-radius: 6px;
  padding: 7px 12px 7px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 35px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04),
    0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}
.settings-control-panel-general-default .frame-480966795 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.settings-control-panel-general-default .div16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}
