@import "/src/variables.scss";
.button {
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.06rem solid #23252a;
  border-radius: 0.3rem;
  padding: 0rem 0.75rem;
  &:hover {
    background-color: #2c3039;
    color: #ffff;
  }
  > img {
    width: 1rem;
    height: 1rem;
  }
}

._light {
  background-color: #e2e2e2;
  color: #141718;
  border: none;
}
._special_light {
  background-color: #339aff;
  color: #141718;
  border: none;
}
._dark {
  background-color: #1e2025;
  color: #ffff;
}
._warning {
  background-color: #f35746;
}

._transparent {
  background-color: transparent;
  color: #999b9e;
}

._active {
  background-color: #26282e;
  color: #ffff;
}
