@import "/src/variables.scss";

.div {
  padding: 1rem;
  .subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rooms_tabs_container {
      display: flex;
      margin: 1rem;
    }
  }
}
